@import './style.css';
@import 'tailwindcss';
@plugin "daisyui";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}
