@import './style.css';
@import 'tailwindcss';
@plugin "daisyui";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";
@plugin "purgesss"

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* font-weight: normal; */
  /**/
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* @media (min-width: 1024px) { */
/*   body { */
/*     display: flex; */
/*     place-items: center; */
/*   } */
/**/
/*   #app { */
/*     display: grid; */
/*     grid-template-columns: 1fr 1fr; */
/*     padding: 0 2rem; */
/*   } */
/* } */
